* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.svg text eol=lf
*.webmanifest text eol=lf

*.gif binary
*.jpg binary
*.otf binary
*.png binary
*.ttf binary
*.woff2 binary

